.create-report-wrapper {
	display: flex;
	flex-direction: column;
	gap: spacing(4);
	padding: spacing(6);

	.title {
		@include headline-6;

		margin: 0;
		padding-bottom: spacing(3);
		border-bottom: map.get($border-width, 'small') solid var(--app-border);
	}
}

.create-report {
	display: flex;
	flex-direction: column;
	gap: spacing(4);

	.grid {
		display: grid;
		gap: spacing(4);

		@include breakpoint-min('sm') {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		gap: spacing(3);
		margin-top: spacing(2);
	}
}
