
.report-table {
	.code {
		font-weight: map.get($font-weight, 'bold');
		letter-spacing: $tracking-loose;
		color: var(--app-link);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
