.page-header {
	display: flex;
	flex-direction: column;
	gap: spacing(4);

	@include breakpoint-min('sm') {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: spacing(2);
	}

	.title {
		@include headline-3;
	}

	.description {
		color: var(--app-text-muted);
		max-width: 60ch;
	}

	.actions {
		display: flex;
		gap: spacing(3);
		flex-shrink: 0;
	}
}
